[Unit]
Description=Fix Chambertin after having booted windows
Type=idle
[Service]
User=brendan
WorkingDirectory=/home/brendan/
ExecStart=sudo /home/brendan/.local/bin/fixshareddrive 664C84E94C84B579 /Chambertin/
[Install]
WantedBy=default.target
