-- "xft:Ubuntu:weight=bold:pixelsize=20:antialias=true:hinting=true"
Config { font            = "xft:Source Sans 3-bold-16"
       , additionalFonts = [ "xft:Mononoki-bold-14"
                           , "xft:Font Awesome 7 Free Solid-14"
                           , "xft:Font Awesome 7 Brands-14"
                           , "xft:Material Design Icons-20"
                           ]
       , bgColor      = "{{chernoe}}"
       , fgColor      = "{{bermejo_light}}"
       , position       = TopSize L 100 32
       , lowerOnStart = True
       , hideOnStart  = False
       , allDesktops  = True
       , persistent   = True
       , iconRoot     = ".xmonad/xpm/"
       , commands = [Run Com ".config/xmobar/trayer-padding-icon.sh" [] "trayerpad" 20
                    , Run UnsafeXMonadLog
                    ]
       , sepChar = "%"
       , alignSep = "}{"
       , template = " <action=`xmonad --recompile && xmonad --restart`><icon=haskell_20.xpm/></action>   <fc={{abyad_dark}}>|</fc> %UnsafeXMonadLog% }{   "
       }
