[Desktop Entry]
Type=Application
Name=Chess
Comment=https://www.chess.com/  (isolated Chromium web app)
Exec=/usr/bin/chromium --app="https://www.chess.com/" --user-data-dir=/home/brendan/.local/share/webapps-chromium --class=chess --load-extension=/home/brendan/.local/share/webapps-chromium-ext
Icon=/home/brendan/.local/share/icons/webapp-chess.png
Terminal=false
Categories=Network;
StartupWMClass=chess
