[Desktop Entry]
Type=Application
Name=Facebook
Comment=https://www.facebook.com/  (isolated Chromium web app)
Exec=/usr/bin/chromium --app="https://www.facebook.com/" --user-data-dir=/home/brendan/.local/share/webapps-chromium --class=facebook --load-extension=/home/brendan/.local/share/webapps-chromium-ext
Icon=/home/brendan/.local/share/icons/webapp-facebook.png
Terminal=false
Categories=Network;
StartupWMClass=facebook
