[Desktop Entry]
Type=Application
Name=Github
Comment=https://github.com/brendanjohnharris  (isolated Chromium web app)
Exec=/usr/bin/chromium --app="https://github.com/brendanjohnharris" --user-data-dir=/home/brendan/.local/share/webapps-chromium --class=github --load-extension=/home/brendan/.local/share/webapps-chromium-ext
Icon=/home/brendan/.local/share/icons/webapp-github.png
Terminal=false
Categories=Network;
StartupWMClass=github
