[Desktop Entry]
Type=Application
Name=Gitlab
Comment=https://gitlab.com/  (isolated Chromium web app)
Exec=/usr/bin/chromium --app="https://gitlab.com/" --user-data-dir=/home/brendan/.local/share/webapps-chromium --class=gitlab --load-extension=/home/brendan/.local/share/webapps-chromium-ext
Icon=/home/brendan/.local/share/icons/webapp-gitlab.png
Terminal=false
Categories=Network;
StartupWMClass=gitlab
