[Desktop Entry]
Type=Application
Name=Gmail
Comment=https://mail.google.com/mail/u/0/#inbox  (isolated Chromium web app)
Exec=/usr/bin/chromium --app="https://mail.google.com/mail/u/0/#inbox" --user-data-dir=/home/brendan/.local/share/webapps-chromium --class=gmail --load-extension=/home/brendan/.local/share/webapps-chromium-ext
Icon=/home/brendan/.local/share/icons/webapp-gmail.png
Terminal=false
Categories=Network;
StartupWMClass=gmail
