[Desktop Entry]
Type=Application
Name=Google-Docs
Comment=https://docs.google.com  (isolated Chromium web app)
Exec=/usr/bin/chromium --app="https://docs.google.com" --user-data-dir=/home/brendan/.local/share/webapps-chromium --class=google-docs --load-extension=/home/brendan/.local/share/webapps-chromium-ext
Icon=/home/brendan/.local/share/icons/webapp-google-docs.png
Terminal=false
Categories=Network;
StartupWMClass=google-docs
