[Desktop Entry]
Type=Application
Name=Google-Sheets
Comment=https://sheets.google.com  (isolated Chromium web app)
Exec=/usr/bin/chromium --app="https://sheets.google.com" --user-data-dir=/home/brendan/.local/share/webapps-chromium --class=google-sheets --load-extension=/home/brendan/.local/share/webapps-chromium-ext
Icon=/home/brendan/.local/share/icons/webapp-google-sheets.png
Terminal=false
Categories=Network;
StartupWMClass=google-sheets
