[Desktop Entry]
Type=Application
Name=Matlab-Online
Comment=https://matlab.mathworks.com/  (isolated Chromium web app)
Exec=/usr/bin/chromium --app="https://matlab.mathworks.com/" --user-data-dir=/home/brendan/.local/share/webapps-chromium --class=matlab-online --load-extension=/home/brendan/.local/share/webapps-chromium-ext
Icon=/home/brendan/.local/share/icons/webapp-matlab-online.png
Terminal=false
Categories=Network;
StartupWMClass=matlab-online
