[Desktop Entry]
Type=Application
Name=Messenger
Comment=https://www.messenger.com/  (isolated Chromium web app)
Exec=/usr/bin/chromium --app="https://www.messenger.com/" --user-data-dir=/home/brendan/.local/share/webapps-chromium --class=messenger --load-extension=/home/brendan/.local/share/webapps-chromium-ext
Icon=/home/brendan/.local/share/icons/webapp-messenger.png
Terminal=false
Categories=Network;
StartupWMClass=messenger
