[Desktop Entry]
Type=Application
Name=Onedrive-Online
Comment=https://unisydneyedu-my.sharepoint.com/  (isolated Chromium web app)
Exec=/usr/bin/chromium --app="https://unisydneyedu-my.sharepoint.com/" --user-data-dir=/home/brendan/.local/share/webapps-chromium --class=onedrive-online --load-extension=/home/brendan/.local/share/webapps-chromium-ext
Icon=applications-internet
Terminal=false
Categories=Network;
StartupWMClass=onedrive-online
