[Desktop Entry]
Type=Application
Name=outlook
Comment=Web app (https://outlook.office.com/mail/) built with pake
Exec=/home/brendan/.local/bin/webapps/outlook %U
Icon=/home/brendan/.local/share/icons/outlook.png
Terminal=false
Categories=Network;
StartupWMClass=outlook
