[Desktop Entry]
Type=Application
Name=Overleaf
Comment=https://www.overleaf.com/  (isolated Chromium web app)
Exec=/usr/bin/chromium --app="https://www.overleaf.com/" --user-data-dir=/home/brendan/.local/share/webapps-chromium --class=overleaf --load-extension=/home/brendan/.local/share/webapps-chromium-ext
Icon=/home/brendan/.local/share/icons/webapp-overleaf.png
Terminal=false
Categories=Network;
StartupWMClass=overleaf
