[Desktop Entry]
Type=Application
Name=Twitter
Comment=https://twitter.com/  (isolated Chromium web app)
Exec=/usr/bin/chromium --app="https://twitter.com/" --user-data-dir=/home/brendan/.local/share/webapps-chromium --class=twitter --load-extension=/home/brendan/.local/share/webapps-chromium-ext
Icon=/home/brendan/.local/share/icons/webapp-twitter.png
Terminal=false
Categories=Network;
StartupWMClass=twitter
