[Desktop Entry]
Type=Application
Name=Whatsapp
Comment=https://web.whatsapp.com/  (isolated Chromium web app)
Exec=/usr/bin/chromium --app="https://web.whatsapp.com/" --user-data-dir=/home/brendan/.local/share/webapps-chromium --class=whatsapp --load-extension=/home/brendan/.local/share/webapps-chromium-ext
Icon=whatsapp
Terminal=false
Categories=Network;
StartupWMClass=whatsapp
